.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: slateblue;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

* {
  position: relative;
}
.lamp {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shade {
  width: 30vh;
  height: 20vh;
  background: #eee4cf;
  border: 1px solid black;
  z-index: 3;
}
.leg {
  /* position: absolute; */
  width: 2vh;
  height: 50vh;
  background: #995136;
  border: 1px solid black;
  top: -2vh;
  z-index: 2;
}
.foot {
  width: 22vh;
  height: 5vh;
  background: #995136;
  border: 1px solid black;

  top: -4vh;
}
